@model ASP.NET_Core.Models.Escuela

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Escuela</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoEscuela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoEscuela)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AñoDeCreación)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AñoDeCreación)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
